@layout('/layouts/default')

@section('title')
    Successful Payment
@endsection

@section('content')

    <div class="columns is-centered">
        <div class="column is-three-fifths">
            <h1 class="title is-3" style="text-align: center; margin-top: 30px;">The payment was successful!</h1>
            <img src="/img/confirmed.svg" alt="Empty Cart" style="max-width: 500px; margin: 0 auto; display: block;"/>
        </div>
    </div>

@endsection
