@layout('/layouts/default')

@section('title')
    WebStore
@endsection

@section('content')
    @loggedIn
        <h1>Hi, {{ auth.user.username }}</h1>
    @else
        <h1>Hi, guest</h1>
    @endloggedIn
@endsection
