
.wave{
	position: fixed;
	height: calc(100% - 100px);
	z-index: -1;
    animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.login-content {
    form{
        width: 100%;
        margin-bottom: 50px;
    }
    img {
        height: 100px;
    }
    input {
        margin: 5px 0;
    }
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

@keyframes animateWave {
    0% {
        //transform: scale(0.75);
        left: -70px;
        bottom: -70px;
    }
    100% {
        //transform: scale(1);
        left: 0;
        bottom: 0;
    }
}


@media screen and (max-width: 1120px){
    .image-column {
        display: none !important;
    }
}

@media screen and (min-width: 1121px){
    .login-container {
        .is-offset-4-tablet {
            margin-left: 16.66667% !important;
        }
    }
}

@media screen and (max-width: 768px){
    .login-content{
        margin: 0 10%;
    }
}

@media screen and (max-width: 900px){
	.wave{
		display: none;
	}
}
