<div>
    <h2> Hello, {{ payload.user.username }}! </h2>
    <p>
        You have changed your WebStore email, please, click <a href="{{ payload.url }}/verify/{{ payload.token }}">here</a> to activate your account.
    </p>
</div>
