<div>
    <h2> Hello, {{ payload.user.username }}! </h2>
    <p>
        You have requested to recover your password, please, click <a href="{{ payload.url }}/reset/{{ payload.token }}">here</a> to do so.
    </p>
</div>
