<div>
    <h2> Hello, {{ payload.user.username }}! </h2>
    <p>
        We would like to inform you that your password has been changed! If this wasn't you, please contact our representatives.
    </p>
</div>
